
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/ApplyNow.css">

    <script type="text/javascript" src="~/Scripts/Application.js"></script>
</head>
<body>

    <div class="container">
        <form>

            <div class="dropdown">
                <label for="subject">Subject 1:</label>
                <select name="subject" id="subject1">
                    <option value="Maths">Maths</option>
                    <option value="English">English</option>
                    <option value="Economics">Economics</option>
                    <option value="Physics">Physics</option>
                </select>

                <label for="Grade">Grade</label>
                <select name="Grade" id="Grade1">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                </select>

                <label for="subject">Subject 2:</label>
                <select name="subject" id="subject2">
                    <option value="Maths">Maths</option>
                    <option value="English">English</option>
                    <option value="Economics">Economics</option>
                    <option value="Physics">Physics</option>
                </select>

                <label for="Grade">Grade</label>
                <select name="Grade" id="Grade2">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                </select>

                <label for="subject">Subject 3:</label>
                <select name="subject" id="subject3">
                    <option value="Maths">Maths</option>
                    <option value="English">English</option>
                    <option value="Economics">Economics</option>
                    <option value="Physics">Physics</option>
                </select>

                <label for="Grade">Grade</label>
                <select name="Grade" id="Grade3">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                </select>

            </div>
            <!--  <input type="submit" value="Submit">   -->
            <p><button id="btnApply">Submit</button></p>

        </form>
    </div>
</body>
</html>

