<!DOCTYPE html>
<html>
<head>


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="~/css/ApplyNow.css">

    <script type="text/javascript" src="~/Scripts/Application.js"></script>
</head>
<body>

    <div class="container">
        <form class="form-1">
            

            <div class="row">
                <div class="Col-1">
                    <label for="subject">Subject 1:</label>
                </div>
                <div class="Col-2">
                    <select name="subject" id="subject1">
                        <option value="1">Maths</option>
                        <option value="2">English</option>
                        <option value="3">French</option>
                        <option value="4">Spanish</option>
                    </select>
                </div>
            </div>

                <div class="row">
                    <div class="Col-2">
                    <label for="Grade">Grade</label>
                    <select name="Grade" id="Grade1">
                        <option value="1">A</option>
                        <option value="2">B</option>
                        <option value="3">C</option>
                        <option value="4">D</option>
                        <option value="5">E</option>
                        <option value="6">F</option>
                    </select>
                </div>
            </div>

                <div class="row">
                    <div class="Col-1">
                        <label for="subject">Subject 2:</label>
                    </div>

                    <div class="Col-2">
                        <select name="subject" id="subject2">
                            <option value="1">Maths</option>
                            <option value="2">English</option>
                            <option value="3">French</option>
                            <option value="4">Spanish</option>
                        </select>
                    </div>

                </div>


                <div class="row">
                    <div class="Col-2">
                        <label for="Grade">Grade</label>
                        <select name="Grade" id="Grade2">
                            <option value="1">A</option>
                            <option value="2">B</option>
                            <option value="3">C</option>
                            <option value="4">D</option>
                            <option value="5">E</option>
                            <option value="6">F</option>
                        </select>
                    </div>
                </div>


                <div class="row">
                    <div class="Col-1">
                        <label for="subject">Subject 3:</label>

                    </div>
                    <div class="Col-2">
                    <select name="subject" id="subject3">
                        <option value="1">Maths</option>
                        <option value="2">English</option>
                        <option value="3">French</option>
                        <option value="4">Spanish</option>
                    </select>
                   </div>
                 </div>

                <div class="row">

                    <div class="Col-2">

                        <label for="Grade">Grade</label>
                        <select name="Grade" id="Grade3">
                            <option value="1">A</option>
                            <option value="2">B</option>
                            <option value="3">C</option>
                            <option value="4">D</option>
                            <option value="5">E</option>
                            <option value="6">F</option>
                        </select>


                    </div>
                </div>
                <p><button id="btnApply">Submit</button></p>
   

        </form>
    </div>
</body>
</html>

