
<!DOCTYPE html>
<html>
<head>

    <title>Image</title>

    <style>
        .body {
            background-image: url("C:\Users\P129BFC\Desktop\university.jpg");
        }
    </style>

    <link rel="stylesheet" href="~/css/Homepage.css">
</head>
<body>

    <div class="container">

        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#home">Faculties</a></li>
            <li><a href="#home">Vacancies</a></li>
            <li><a href="/Register/ResultDetails">Apply Now</a></li>
            <li><a href="#contact">Contact Us</a></li>

        </ul>

    </div>
</body>
</html>
